@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Teste de Aplicação</h1>
    <p>Apenas um teste de automação com Jenkins + Docker + GitHub </p>
</div>
